*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#single-goal{
    position: absolute;
    font-size: 5rem;
    color:green;
}
#single-data{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}