*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#title{
    display: flex;
    position: absolute;
    font-size: 2rem;
    color:green;
    font-weight: bold;
}
#exercise-data{
    display: flex;
    flex-wrap: wrap;
    
}
#submit-data{
    width:23vw;
    height: 7rem;
    background-color: lightseagreen;
    margin-top: 10px;
}