*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#title{
    display: flex;
    position: absolute;
    font-size: 2rem;
    color:green;
    font-weight: bold;
}

#submit-data{
    width:23vw;
    height: rem;
    background-color: lightseagreen;
    margin-top: 10px;
}
#submit-data{
    font-size: 1.2rem;
}
#exercise-data{
display: flex;
justify-content: center;
gap: 1rem;
margin: 2rem;
   
   }
#box{
    font-weight: 500;
    width: 18vw;
    height: 18vw;
    display: flex;
    background-color: blueviolet;
    color: white;
    font-size: 1.1rem;
    justify-content: center;
 
}
#add-box-button-type{
    width: 18vw;
    height: 18vw;
    display: flex;
    background-color: blueviolet;
}
#submitted-data{
    width: 18vw;
    height: 18vw;
    display: flex;
    background-color: blueviolet;
    outline: none;
}
#add-data{
    font-weight: 500;
    width: 18vw;
    height: 18vw;
    display: flex;
    background-color: blueviolet;
    color: white;
    font-size: 1.1rem;
    justify-content: center;
}
#add-item{
  position: absolute;
  margin-top: 15rem;;

   
}