* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav {
    background-color: blueviolet;
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.link {
    margin-top: 0.5rem;
    margin-right: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
    background-color: white;
    color: black;
}